body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:376px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:930px;
}
#u674 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:930px;
}
#u675 {
  position:absolute;
  left:2px;
  top:457px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u676 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u677_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#868686;
  text-align:center;
}
#u677 {
  position:absolute;
  left:164px;
  top:507px;
  width:28px;
  height:20px;
  font-size:13px;
  color:#868686;
  text-align:center;
}
#u678 {
  position:absolute;
  left:0px;
  top:2px;
  width:28px;
  word-wrap:break-word;
}
#u679 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#868686;
  text-align:center;
}
#u680 {
  position:absolute;
  left:16px;
  top:613px;
  width:28px;
  height:20px;
  font-size:13px;
  color:#868686;
  text-align:center;
}
#u681 {
  position:absolute;
  left:0px;
  top:2px;
  width:28px;
  word-wrap:break-word;
}
#u682 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u683_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
  text-align:center;
}
#u683 {
  position:absolute;
  left:332px;
  top:659px;
  width:28px;
  height:20px;
  font-size:13px;
  color:#666666;
  text-align:center;
}
#u684 {
  position:absolute;
  left:0px;
  top:2px;
  width:28px;
  word-wrap:break-word;
}
#u685 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
  text-align:center;
}
#u686 {
  position:absolute;
  left:334px;
  top:705px;
  width:28px;
  height:20px;
  font-size:13px;
  color:#666666;
  text-align:center;
}
#u687 {
  position:absolute;
  left:0px;
  top:2px;
  width:28px;
  word-wrap:break-word;
}
